@import url('https://fonts.googleapis.com/css?family=Ubuntu+Condensed');
@import url('https://fonts.googleapis.com/css?family=Slabo+27px');
* {
	margin:0;
	padding:0;
	border:none;
}
h1,h4{font-family:'Ubuntu Condensed';}
p{font-family:'Slabo 27px';}
html,body {
	width:100%;
	height:100%;
}
#titlebar {
	width:100%;
	height:10%;
	background:#658e9c;
}
#titlebar h1{float:left;height:100%;line-height:10vh;padding-left:2.5%;}
#titlebar h4{float:right;height:100%;line-height:10vh;padding-right:2.5%;}
#titlebar h1::-moz-selection,#titlebar h4::-moz-selection {
	background:#000;	
	color:#658e9c;
}
#titlebar h1::selection,#titlebar h4::selection {
	background:#000;	
	color:#658e9c;
}
.large-part{float:left;width:100%;height:20%;}
.icon-cont{visibility:hidden;float:left;margin:2% 2%;width:6%;height:60%;display:flex;align-items:center;border-radius:50%;background:#658e9c;}
p:hover #icon-1{visibility:visible;}
i{float:left;width:100%;color:#000;text-align:center;font-size:300%;}
.large-part h1{float:left;width:45%;height:100%;text-align:left;display:flex;align-items:center;}
.large-part h1::-moz-selection{background:#000;color:#fff;}
.large-part h1::selection{background:#000;color:#fff;}
.large-part p{float:left;width:45%;height:100%;}
.large-part p::-moz-selection{background:#000;color:#fff;}
.large-part p::selection{background:#000;color:#fff;}
.part{float:left;width:50%;height:20%;}
